
<form [formGroup]="personForm" (ngSubmit)="onSubmit()">

  <label>
    Name:
    <input type="text" formControlName="name">
  </label>

  <label>
    Age:
    <input type="number" formControlName="age">
  </label>

  <label>
    Gender:
    <input type="radio" value='male' formControlName="gender" >Male
    <input type="radio" value='female' formControlName="gender">Female
  </label>

  <button type="submit" [disabled]="!personForm.valid">Submit</button>

</form>

<p><a href="https://github.com/charroux/AngularBasis/blob/master/src/app/personne/personne.component.ts">personne component</a></p>

<p>The component deleguates to a <a href="https://github.com/charroux/AngularBasis/blob/master/src/app/person.service.ts">service</a> the addind of a person.</p>

<p><a href="https://github.com/charroux/AngularBasis/blob/master/src/app/personne/personne.component.html">personne view</a></p>


