
<br><br><a href="https://github.com/charroux/AngularBasis/blob/master/src/app/person-list/person-list.component.ts">Person list component</a><br><br>

<a href="https://github.com/charroux/AngularBasis/blob/master/src/app/person-list/person-list.component.html">personne list view</a><br><br>

List of persons:
<table style="width:100%">
  <div *ngFor="let person of persons">
    <tr>
      <td>{{person.name}}</td>
      <td>{{person.age}}</td>
      <td>{{person.gender}}</td>
    </tr>
  </div>
</table>

