
List of persons:
<table style="width:100%">
  <div *ngFor="let person of persons">
    <tr>
      <td>{{person.name}}</td>
      <td>{{person.age}}</td>
      <td>{{person.gender}}</td>
    </tr>
  </div>
</table>

<br><a href="https://github.com/charroux/AngularBasis/blob/master/src/app/person-list/person-list.component.ts">Person list component</a><br><br>


<p>
  Notice the subscription to the service so that this.persons is updated each time a person is added:
  <code>
    this.personService.getPersons().subscribe((persons) => this.persons = persons);
  </code><br>
  Notice also how getPersons() returns an Observable is the <a href="https://github.com/charroux/AngularBasis/blob/master/src/app/person.service.ts">service class</a>.
</p>

<a href="https://github.com/charroux/AngularBasis/blob/master/src/app/person-list/person-list.component.html">personne list view</a><br><br>
