
<h1>Angular Reactive Forms</h1>

<a href="https://github.com/charroux/AngularBasis/blob/master/src/app/app.component.html">Single main page</a>

<p><a href="https://github.com/charroux/AngularBasis/blob/master/src/app/app.module.ts">app.module.ts</a>:</p>
<code>
  import {{ '{' }} FormsModule, ReactiveFormsModule } from '@angular/forms';<br>
  FormsModule and ReactiveFormsModule added to imports
</code>

<p><a href="https://github.com/charroux/AngularBasis/blob/master/src/app/person.ts">Person class</a></p>

Beginning of app-personne in <a href="https://github.com/charroux/AngularBasis/blob/master/src/app/app.component.html">app.component.html</a> =========><br><br>

<app-personne></app-personne>

<br><========== End of app-personne in <a href="https://github.com/charroux/AngularBasis/blob/master/src/app/app.component.html">app.component.html</a> <br><br>

Beginning of app-person-list in <a href="https://github.com/charroux/AngularBasis/blob/master/src/app/app.component.html">app.component.html</a>  ==========><br><br>

<app-person-list></app-person-list>

<br><============ End of app-person-list in <a href="https://github.com/charroux/AngularBasis/blob/master/src/app/app.component.html">app.component.html</a>
