<img [src]="'assets/angular-icon.svg'" width="200" height="100" alt="Angular">

<h1>Angular Forms</h1>

<a href="https://github.com/charroux/AngularBasis/blob/master/src/app/app.component.html">Single main page</a>

<p><a href="https://github.com/charroux/AngularBasis/blob/master/src/app/app.module.ts">app.module.ts</a>:</p>
<code>
  import {{ '{' }} FormsModule, ReactiveFormsModule } from '@angular/forms';<br>
  FormsModule added to imports
</code>

<p><a href="https://github.com/charroux/AngularBasis/blob/master/src/app/person.ts">Person class</a></p>

Beginning of app-personne in app.component.html =========>

<app-personne></app-personne>

<br><========== End of app-personne in app.component.html<br><br>

Beginning of app-person-list in app.component.html ==========>

<app-person-list></app-person-list>

<br><============ End of app-person-list in app.component.html
